<section id="advantages" class="advantages">
  <div class="container advantages-container">
    <h2 class="visually-hidden">Advantages</h2>

    <ol class="advantages-list">
      
        <li class="advantages-item">
          
          <p class="advantages-item-text advantages-first-item-text">
            Swimming and water sports: try your hand at water skiing
          </p>
          
  
        </li>
       
        <li class="advantages-item">
           
          <p class="advantages-item-text">
            Fishing: try to catch your own dinner
          </p>
         
        </li>
    
     
        <li class="advantages-item">
            
          <p class="advantages-item-text">
            Sightseeing tours: take a shore or island tour, enjoy the views and
            sunsets from the water
          </p>
         
        </li>
     
    
        <li class="advantages-item">
            
          <p class="advantages-item-text">
            Rest and relaxation: read a book or listen to music while enjoying
            the outdoor atmosphere.
          </p>
       
        </li>
    </ol>

    <picture>
          <source
        class="yacht-photo"
        srcset="
          ./img/advantages/advantages_desk2.jpg,
          ./img/advantages/advantages_desk2@2x.jpg 2x
        "
        media="(min-width: 1440px)"
        width="540"
        height="424"
      />
      <source
        class="yacht-photo"
        srcset="
          ./img/advantages/advantages_desk1.jpg,
          ./img/advantages/advantages_desk1@2x.jpg 2x
        "
        media="(min-width: 1280px)"
        width="432"
        height="424"
      />
      <source
        class="yacht-photo"
        srcset="
          ./img/advantages/advantages_tab.jpg,
          ./img/advantages/advantages_tab@2x.jpg
        "
        media="(min-width: 768px)"
        width="704"
        height="424"
      />
      <source
        class="yacht-photo"
        srcset="
          ./img/advantages/advantages_mob.jpg,
          ./img/advantages/advantages_mob@2x.jpg 2x
        "
        media="(max-width: 768px)"
        width="335"
        height="424"
      />

      <img  class="yacht-photo" src="./img/advantages/advantages_desk1.jpg"
        alt="view of the yacht inside"
      />
    </picture>
  </div>
</section>
