<footer class="footer-main">
    <div class="content-footer-size container">
        <div class="wrapper-footer">
            <nav class="link-menu-foot">
                <a class="logo-footer" href="./index.html">yachtjet</a>
                <ul class="link-menu">
                    <li class="footer-btn">
                        <a class="style-btn-footer" href="#about-us">About</a>
                    </li>
                    <li class="footer-btn">
                        <a class="style-btn-footer" href="#our-yachts">Yachts</a>
                    </li>
                    <li class="footer-btn">
                        <a class="style-btn-footer" href="#reviews">Reviews</a>
                    </li>
                </ul>
            </nav>
            <div class="link-footer-social">
                <ul class="link-social-list-footer">
                    <li class="list-link-footer">
                        <a class="link-link-footer" href="https://www.instagram.com/goitclub/" target="_blank">
                            <svg class="link-icon" width="24" height="24" aria-label="icon-instagram">
                                <use href="./img/icons.svg#icon-instagram"></use>

                            </svg>
                        </a>
                    </li>
                    <li class="list-link-footer">
                        <a class="link-link-footer" href="https://www.youtube.com/c/GoIT" target="_blank">
                            <svg class="link-icon" width="24" height="24" aria-label="icon-youtube">
                                <use href="./img/icons.svg#icon-youtube"></use>

                            </svg>
                        </a>
                    </li>
                    <li class="list-link-footer">
                        <a class="link-link-footer" href="http://https//www.facebook.com/goITclub/" target="_blank">
                            <svg class="link-icon" width="24" height="24" aria-label="icon-facebook">
                                <use href="./img/icons.svg#icon-facebook"></use>

                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-footer content-footer-size">
            <p class="footer-deviz">
                No matter which yacht you choose, our experienced crew will ensure that your journey is smooth and
                enjoyable.
            </p>

            <div class="footer-bottom">
                <p class="footer-done">2023. Yacht Adventures</p>

                <a class="footer-done" href="https://goit.global/ua-ru/privacy-policy/" target="_blank">Privacy Policy</a>
              
            </div>
        </div>
    </div>
</footer>
