<link rel="stylesheet" href="../css/header.css" />
<header class="main-header">
    <div class="container page-header-container">
        <nav class="main-navigation">
            <a class="logo-navigation link" href="./index.html">yachtjet</a>
            <ul class="navigation-menu list">
                <li class="navigation-item">
                    <a class="navigation-link link" href="./index.html">About</a>
                </li>
                <li class="navigation-item">
                    <a class="navigation-link link" href="./index.html">Yachts</a>
                </li>
                <li class="navigation-item">
                    <a class="navigation-link link" href="./index.html">Reviews</a>
                </li>
            </ul>
        </nav>
        <button class="mobile-menu-open-btn" type="button">
            <svg class="mobile-menu-open-btn-icon" width="28" height="28" aria-label="mobile menu open icon">
                <use href="../img/icons.svg#icon-ci_menu-duo"></use>
            </svg>
        </button>
        <ul class="navigation-social-list list">
            <li class="navigation-social-list-item">
                <a href="" class="navigation-social-list-link">
                    <svg class="navigation-social-list-icon" width="20" height="20" aria-label="instagram icon">
                        <use href="../img/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="navigation-social-list-item">
                <a href="" class="navigation-social-list-link">
                    <svg class="navigation-social-list-icon" width="20" height="20" aria-label="youtube icon">
                        <use href="../img/icons.svg#icon-youtube"></use>
                    </svg>
                </a>
            </li>
            <li class="navigation-social-list-item">
                <a href="" class="navigation-social-list-link">
                    <svg class="navigation-social-list-icon" width="20" height="20" aria-label="facebook icon">
                        <use href="../img/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</header>