<section class="our-yachts" id="our-yachts">
    <div class="container">
        <h2 class="tittle-our-yachts">
            Choose your dream yacht and sail away into the sunset
        </h2>

        <div class="yacht-swiper swiper">

            <div class="yacht-wrapper swiper-wrapper">
                <div class="yacht-slide swiper-slide">
                    <picture>
                        <source srcset="./img/yachts/yaht1_desk2.jpg, ./img/yachts/yaht1_desk2@2x.jpg 2x"
                            media="(min-width: 1440px)" width="360" height="268" />
                        <source srcset="./img/yachts/yaht1_desk1.jpg, ./img/yachts/yaht1_desk1@2x.jpg 2x"
                            media="(min-width: 1280px)" width="345" height="268" />
                        <source srcset="./img/yachts/yaht1_tab.jpg, ./img/yachts/yaht1_tab@2x.jpg 2x"
                            media="(min-width: 768px)" width="304" height="268" />
                        <source srcset="./img/yachts/yaht1_mob.jpg, ./img/yachts/yaht1_mob@2x.jpg 2x"
                            media="(max-width: 375px)" width="302" height="240" />
                        <img src="./img/yachts/yaht1_mob.jpg" alt="classic white-brown yacht" width="304" height="268">
                    </picture>
                    <div class="name-yacht-box line-box">
                        <h3 class="name-yacht">Arrow</h3>
                        <p class="style-yacht">LUXURY YAHTS</p>
                    </div>
                    <div class="yacht-description">
                        <ul class="yacht-description-list-title">
                            <li class="list-item">LENGTH</li>
                            <li class="list-item">BUILDER</li>
                            <li class="list-item">BUILT</li>
                            <li class="list-item">GUESTS</li>
                            <li class="list-item">PRICE</li>
                        </ul>
                        <ul class="yacht-description-list">
                            <li class="list-item">48m(155ft)</li>
                            <li class="list-item">Admiral</li>
                            <li class="list-item">2021</li>
                            <li class="list-item">11 in 5 cabins</li>
                            <li class="list-item">€33,500,000</li>
                        </ul>
                    </div>
                </div>

                <div class="yacht-slide swiper-slide">
                    <picture>
                        <source srcset="./img/yachts/yaht2_desk2.jpg, ./img/yachts/yaht2_desk2@2x.jpg 2x"
                            media="(min-width: 1280px)" width="360" height="268" />
                        <source srcset="./img/yachts/yaht2_desk1.jpg, ./img/yachts/yaht2_desk1@2x.jpg 2x"
                            media="(min-width: 1280px)" width="345" height="268" />
                        <source srcset="./img/yachts/yaht2_tab.jpg, ./img/yachts/yaht2_tab@2x.jpg 2x"
                            media="(min-width: 768px)" width="304" height="268" />
                        <source srcset="./img/yachts/yaht2_tab.jpg, ./img/yachts/yaht2_tab@2x.jpg 2x"
                            media="(max-width: 375px)" width="302" height="240" />
                        <img src="./img/yachts/yaht2_desk1.jpg" alt="modern white yacht" width="304" height="268">
                    </picture>
                    <div class="name-yacht-box line-box">
                        <h3 class="name-yacht">BENETTI OASIS 40...</h3>
                        <p class="style-yacht">LUXURY YAHTS</p>
                    </div>
                    <div class="yacht-description">
                        <ul class="yacht-description-list-title">
                            <li class="list-item">LENGTH</li>
                            <li class="list-item">BUILDER</li>
                            <li class="list-item">BUILT</li>
                            <li class="list-item">GUESTS</li>
                            <li class="list-item">PRICE</li>
                        </ul>
                        <ul class="yacht-description-list">
                            <li class="list-item">41m (133ft)</li>
                            <li class="list-item">Benetti</li>
                            <li class="list-item">2025</li>
                            <li class="list-item">10 in 5 cabins</li>
                            <li class="list-item">€23,210,000</li>
                        </ul>
                    </div>
                </div>

                <div class="yacht-slide swiper-slide">
                    <picture>
                        <source srcset="./img/yachts/yaht3_desk2.jpg, ./img/yachts/yaht3_desk2@2x.jpg 2x"
                            media="(min-width: 1280px)" width="360" height="268" />
                        <source srcset="./img/yachts/yaht3_desk1.jpg, ./img/yachts/yaht3_desk1@2x.jpg 2x"
                            media="(min-width: 1280px)" width="345" height="268" />
                        <source srcset="./img/yachts/yaht3_desk1.jpg, ./img/yachts/yaht3_desk1@2x.jpg 2x"
                            media="(min-width: 768px)" width="304" height="268" />
                        <source srcset="./img/yachts/yaht3_desk1.jpg, ./img/yachts/yaht3_desk1@2x.jpg 2x"
                            media="(max-width: 375px)" width="302" height="240" />

                        <img srcset="./img/yachts/yaht3_desk1.jpg" src="./img/yachts/yaht3_desk1.jpg"
                            alt="luxury modern white-black yacht" width="345" height="268">
                    </picture>

                    <div class="name-yacht-box line-box">
                        <h3 class="name-yacht">BELLE ANNA</h3>
                        <p class="style-yacht">LUXURY YAHTS</p>
                    </div>
                    <div class="yacht-description">
                        <ul class="yacht-description-list-title">
                            <li class="list-item">LENGTH</li>
                            <li class="list-item">BUILDER</li>
                            <li class="list-item">BUILT</li>
                            <li class="list-item">GUESTS</li>
                            <li class="list-item">PRICE</li>
                        </ul>
                        <ul class="yacht-description-list">
                            <li class="list-item">50m(155ft)</li>
                            <li class="list-item">ISA</li>
                            <li class="list-item">2012</li>
                            <li class="list-item">10 in 6 cabins</li>
                            <li class="list-item">€21,000,000</li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>


        <!-- <ul class="list-yachts">
            <li class="list-item-first">
                <picture>
                    <source srcset="./img/yachts/yaht1_desk2.jpg, ./img/yachts/yaht1_desk2@2x.jpg 2x"
                        media="(min-width: 1440px)" width="360" height="268" />
                    <source srcset="./img/yachts/yaht1_desk1.jpg, ./img/yachts/yaht1_desk1@2x.jpg 2x"
                        media="(min-width: 1280px)" width="345" height="268" />
                    <source srcset="./img/yachts/yaht1_tab.jpg, ./img/yachts/yaht1_tab@2x.jpg 2x"
                        media="(min-width: 768px)" width="304" height="268" />
                    <source srcset="./img/yachts/yaht1_mob.jpg, ./img/yachts/yaht1_mob@2x.jpg 2x"
                        media="(max-width: 375px)" width="302" height="240" />
                    <img src="./img/yachts/yaht1_mob.jpg" alt="classic white-brown yacht" width="304" height="268">
                </picture>
                <div class="name-yacht-box line-box">
                    <h3 class="name-yacht">Arrow</h3>
                    <p class="style-yacht">LUXURY YAHTS</p>
                </div>
                <div class="yacht-description">
                    <ul class="yacht-description-list-title">
                        <li class="list-item">LENGTH</li>
                        <li class="list-item">BUILDER</li>
                        <li class="list-item">BUILT</li>
                        <li class="list-item">GUESTS</li>
                        <li class="list-item">PRICE</li>
                    </ul>
                    <ul class="yacht-description-list">
                        <li class="list-item">48m(155ft)</li>
                        <li class="list-item">Admiral</li>
                        <li class="list-item">2021</li>
                        <li class="list-item">11 in 5 cabins</li>
                        <li class="list-item">€33,500,000</li>
                    </ul>
                </div>

            </li>
            <li class="list-item-second">
                <picture>
                    <source srcset="./img/yachts/yaht2_desk2.jpg, ./img/yachts/yaht2_desk2@2x.jpg 2x"
                        media="(min-width: 1280px)" width="360" height="268" />
                    <source srcset="./img/yachts/yaht2_desk1.jpg, ./img/yachts/yaht2_desk1@2x.jpg 2x"
                        media="(min-width: 1280px)" width="345" height="268" />
                    <source srcset="./img/yachts/yaht2_tab.jpg, ./img/yachts/yaht2_tab@2x.jpg 2x"
                        media="(min-width: 768px)" width="304" height="268" />
                    <img src="./img/yachts/yaht2_desk1.jpg" alt="modern white yacht" width="304" height="268">
                </picture>
                <div class="name-yacht-box line-box">
                    <h3 class="name-yacht">BENETTI OASIS 40...</h3>
                    <p class="style-yacht">LUXURY YAHTS</p>
                </div>
                <div class="yacht-description">
                    <ul class="yacht-description-list-title">
                        <li class="list-item">LENGTH</li>
                        <li class="list-item">BUILDER</li>
                        <li class="list-item">BUILT</li>
                        <li class="list-item">GUESTS</li>
                        <li class="list-item">PRICE</li>
                    </ul>
                    <ul class="yacht-description-list">
                        <li class="list-item">41m (133ft)</li>
                        <li class="list-item">Benetti</li>
                        <li class="list-item">2025</li>
                        <li class="list-item">10 in 5 cabins</li>
                        <li class="list-item">€23,210,000</li>
                    </ul>
                </div>
            </li>
            <li class="list-item-third">
                <picture>
                    <source srcset="./img/yachts/yaht3_desk2.jpg, ./img/yachts/yaht3_desk2@2x.jpg 2x"
                        media="(min-width: 1280px)" width="360" height="268" />
                    <source srcset="./img/yachts/yaht3_desk1.jpg, ./img/yachts/yaht3_desk1@2x.jpg 2x"
                        media="(min-width: 1280px)" width="345" height="268" />

                    <img srcset="./img/yachts/yaht3_desk1.jpg" src="./img/yachts/yaht3_desk1.jpg"
                        alt="luxury modern white-black yacht" width="345" height="268">
                </picture>

                <div class="name-yacht-box line-box">
                    <h3 class="name-yacht">BELLE ANNA</h3>
                    <p class="style-yacht">LUXURY YAHTS</p>
                </div>
                <div class="yacht-description">
                    <ul class="yacht-description-list-title">
                        <li class="list-item">LENGTH</li>
                        <li class="list-item">BUILDER</li>
                        <li class="list-item">BUILT</li>
                        <li class="list-item">GUESTS</li>
                        <li class="list-item">PRICE</li>
                    </ul>
                    <ul class="yacht-description-list">
                        <li class="list-item">50m(155ft)</li>
                        <li class="list-item">ISA</li>
                        <li class="list-item">2012</li>
                        <li class="list-item">10 in 6 cabins</li>
                        <li class="list-item">€21,000,000</li>
                    </ul>
                </div>
            </li>
        </ul> -->
        <a class="rental-button" href="#rent-a-yacht">Yacht rental</a>
    </div>

</section>