<section class="rent-section section" id="rent-a-yacht">
  <div class="rent-container container">
    <div class="rent-modal">
      <h2 class="rent-title title">Rent a yacht now</h2>
      <form class="rent-form">
        <div class="rent-form-field-wrapper rent-form-input-wrapper">
          <input class="rent-form-field-input" id="user-name" name="user-name" type="text" placeholder="Full Name"
            pattern="[a-zA-Zа-яА-ЯіІїЇєЄґҐʼ]+" title="Olena Panfutova" required />
        </div>
        <div class="rent-form-field-wrapper rent-form-input-wrapper">
          <input class="rent-form-field-input" id="user-email" name="user-email" placeholder="Email" type="email"
            required />
        </div>
        <div class="rent-form-field-wrapper rent-form-input-wrapper">
          <input class="rent-form-field-input" id="user-tel" name="user-tel" placeholder="Phone number" type="tel"
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" title="xxx-xxx-xx-xx" required />
        </div>

        <div class="rent-form-field-wrapper comment-container">
          <textarea class="rent-form-comment" id="user-comment" name="user-comment" placeholder="Comment"
            required></textarea>
        </div>
        <button class="rent-form-submit-btn" type="submit">Send</button>
      </form>
    </div>
    <div class="rent-pic">
      <picture>
        <source srcset="
            ./img/rent/Rent_desk2.jpg    1x,
            ./img/rent/Rent_desk2@2x.jpg 2x
          " media="(min-width: 1440px)" />
        <source srcset="./img/rent/Rent_desk1.jpg 1x, ./img/rent/Rent_desk1@2x.jpg 2x" media="(min-width: 1280px)" />
        <source srcset="./img/rent/Rent_tab.jpg 1x, ./img/rent/Rent_tab@2x.jpg 2x" media="(min-width: 768px)" />
        <source srcset="./img/rent/Rent_mob.jpg 1x, ./img/rent/Rent_mob@2x.jpg 2x" media="(max-width: 767px)" />
        <img class="rent-img" src="./img/rent/Rent_mob.jpg" alt="yacht on the water" />
      </picture>
    </div>
  </div>
</section>