/* =================common styles========================= */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* =================/common styles========================= */

.advantages-list {
  list-style-type: none;
  counter-reset: section;
  padding: 0;
  margin: 0;
  padding: 0;

  color: #fbfbfb;

  font-weight: 500;
  line-height: 1; /* 100% */
  letter-spacing: -0.05em;

  background-color: #1b414b;
  border-radius: 24px;
}
/* .advantages-item {
  width: 292px;
} */
.advantages-item {
  counter-increment: section;
}

.advantages-item::before {
  content: counter(section, decimal-leading-zero) ' ';
  font-weight: bold;
}
.advantages-item-text {
  color: #fbfbfb;
  line-height: 1.17;
  letter-spacing: -0.02em;
  opacity: 0.8;

 margin-top: 18px;
   max-width: 292px;
  width: 100%;
}
.advantages-first-item-text {
  width: 238px;
}
.advantages-item-text::before {
  content: '';
  display: block;
  /* width: 295px; */
  height: 2px;
  border-radius: 18px;
  background-color: rgba(251, 251, 251, 0.1);
  margin-bottom: 18px;
 
}

.yacht-photo {
  border-radius: 24px;
}

/* ============================MOBILE STYLES========================================= */

@media screen and (max-width: 768px) {
  .advantages {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .advantages-list {
    margin-bottom: 20px;
    padding: 80px 20px;
  }

  .advantages-list {
    font-size: 28px;
  }

  .advantages-item-text::before {
    max-width: 248px;
  }
  .advantages-item-text {
      max-width: 100%;
    max-width: 271px;
    font-size: 12px;
  
  }
  .advantages-item {
    margin-bottom: 44px;
  }
}
/* ============================/MOBILE STYLES========================================= */

/* ============================TABLET STYLES========================================= */
@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .advantages-list {
    padding: 90px 32px;
    margin-bottom: 20px;
    width: 704px;

    display: flex;
    flex-wrap: wrap;
    gap: 44px;

    font-size: 32px;
  }

  .advantages-item-text::before {
    width: 304px;
  }
  .advantages-item-text {
    
     max-width: 292px;
    font-size: 13px;
    
  }
}
/* ============================/TABLET STYLES========================================= */

/* ============================DESKTOP STYLE========================================= */
@media screen and (min-width: 1280px) {
  .advantages-container {
    display: flex;
    justify-content: space-between;
  }
  .advantages-list {
    padding: 90px 50px;
    width: 716px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  .advantages-item-text::before {
    width: 280px;
  }
}
/* ============================/DESKTOP STYLE(1440)========================================= */

@media screen and (min-width: 1440px) {
  .advantages-list {
    width: 768px;
    gap: 44px;
  }
  .advantages-item-text::before {
    width: 238px;
  }
  .advantages-item-text::before {
    width: 318px;
  }
}


