.section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.container {
    padding: 0 20px;
    margin: 0 auto;
}


.rent-section {
    background: #0E1823;
}

.rent-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    /* 100% */
    letter-spacing: -0.02em;
    color: #FBFBFB;
    margin-bottom: 40px;
}

.rent-form-field-input {
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    outline: 0px solid transparent;
    padding-left: 18px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 12px;
    border: 1px solid rgba(251, 251, 251, 0.20);
    color: rgba(251, 251, 251, 0.40);
    font-family: Inter;
    font-size: 12px;
    line-height: 1.17;
    /* 116.667% */
    margin-bottom: 18px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rent-form-field-input:focus {
    color: #FBFBFB;
    border: 1px solid rgba(251, 251, 251, 0.50);
}

.rent-form-field-input::placeholder {
    font-size: 12px;
    line-height: 1.17;
    /* 116.667% */
    color: rgba(251, 251, 251, 0.40);
}

.comment-container {
    margin-bottom: 40px;
}

.rent-form-comment {
    width: 100%;
    height: 108px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 14px 18px;
    color: rgba(251, 251, 251, 0.40);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    border-radius: 12px;
    border: 1px solid rgba(251, 251, 251, 0.20);
    outline: 0px solid transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rent-form-comment:focus {
    color: #FBFBFB;
    border: 1px solid rgba(251, 251, 251, 0.50);
}

.rent-form-comment::placeholder {
    font-size: 12px;
    line-height: 1.17;
    /* 116.667% */
    color: rgba(251, 251, 251, 0.40);
}

.rent-form-submit-btn {
    display: inline-flex;
    min-width: 122px;
    height: 46px;
    padding: 14px 44px;
    border: none;
    border-radius: 15px;
    background: #1B414B;
    color: #FBFBFB;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rent-form-submit-btn:hover,
.rent-form-submit-btn:focus {
    color: #1B414B;
    background: #FBFBFB;
}

.rent-modal {
    margin-bottom: 80px;
}

.rent-img {
    display: block;
    max-width: 100%;
    height: auto;
    flex-shrink: 0;
    background: lightgray -197.931px -2.822px / 187.774% 107.967% no-repeat;
    border-radius: 24px;
    overflow: hidden;
    outline: 0px solid transparent;
}


@media only screen and (max-width: 374px) {
    
    .container {
        max-width: 374px;
    }

        
}

@media only screen and (min-width: 375px) {
    .container {
        max-width: 375px;
    }

    
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }

    .section {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .rent-title {
        font-size: 48px;
        font-weight: 500;
        line-height: 1;
        /* 100% */
        letter-spacing: -0.02em;
        color: #FBFBFB;
        margin-bottom: 50px;
    }
        
    .rent-modal {
        margin-bottom: 100px;
        padding: 0 116px;
    }
        
    .rent-form-field-input {
        width: 472px;
        height: 54px;
        padding-top: 18px;
        padding-bottom: 18px;
        font-size: 14px;
        line-height: 1.29;
            /* 128.571% */
    }
        
    .rent-form-field-input::placeholder {
        font-size: 14px;
        line-height: 1.29;
            /* 128.571% */
    }
    
    .comment-container {
        margin-bottom: 50px;
    }

    .rent-form-comment {
        width: 472px;
        height: 116px;
        padding: 18px 18px;
        font-size: 14px;
        line-height: 1.29;
            /* 128.571% */
    }
     
    .rent-form-comment::placeholder {
        font-size: 14px;
        line-height: 1.29;
        /* 128.571% */
    }

    .rent-form-submit-btn {
        display: inline-flex;
        min-width: 194px;
        height: 56px;
        padding: 18px 75px;
        font-size: 18px;
        line-height: 1.1;
            /* 110% */
    }
        
    .rent-img {
        height: 534px;
        flex-shrink: 0;
    }
    
}

@media only screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding: 0 50px;
    }

    .rent-form-submit-btn {
        margin-bottom: 0;
    }

    .rent-container {
        position: relative;
        display: flex;
    }

    .rent-modal {
        padding: 0;
        position: absolute;
        top: 0;
        right: 50px;
        width: 472px;
    }

    .rent-pic {
        width: 658px;
        height: 534px;
        flex-shrink: 0;
        margin-right: 50px;           
    }

}

@media only screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
    
    .rent-modal {
        top: 0;
        right: 100px;
    }

    .rent-pic {
        width: 768px;
        height: 534px;
        flex-shrink: 0;
    }
}






